header{
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: lightsteelblue;
    opacity: 0.7;
    height:260px;
    padding:15px;
    background-image: url(./image/time-371226_1920.jpg);
    z-index: -10;
}
.homePage {
    display:flex;
    width: 94%;
    color:black;
}
#goBack, #clearScores {
    display:flex;
    width: 6%;
    color:black;
}

h1 {
    font-size: 38px;
    color:slategrey;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

div {
font-family:Verdana, Geneva, Tahoma, sans-serif;
color:steelblue;
font-size: 18px;
text-align: center;
}
.container {
    margin:0 auto;
    width:960px;
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    color:black;
}