header{
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: lightsteelblue;
    opacity: 0.7;
    height:260px;
 
    background-image: url(./image/time-371226_1920.jpg);
    z-index: 1;
}
.scores {
    display:flex;
    width: 94%;
    color:black;
}

#countdown {
    display:flex;
    width: 6%;
    color:black;
}

h1 {
    font-size: 38px;
    color:slategrey;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

div {
font-family:Verdana, Geneva, Tahoma, sans-serif;
color:steelblue;
font-size: 18px;
text-align: center;
}
.container {
    margin:0 auto;
    width:960px;
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    color:black;
}

#startBtn, #saveBtn {
    padding:10px;
    background-color:slategrey;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    border-radius: 10px;
    border:0 none;
    margin:0 auto;
    width:18%;
    justify-content: center;
}

.options {
    margin:10px;
    background-color:slategrey;
    border-radius: 10px;
    width: 25%;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    color:snow;
    padding:10px;
    text-align: center;
} 

footer {
    font-family: Arial, Helvetica, sans-serif;
    color:slategrey;
    text-align: center;
    margin-top: 10%;
}
.quiz{
    justify-content: center;
}

.hidden {
    display:none;
}
.Initial {
    margin: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}

#goBack{
    margin:10px;
    background-color:slategrey;
    border-radius: 10px;
    border: 0 none;
    width: 15%;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color:snow;
    padding:10px;
    text-align: center;
} 
#clearScores {
    margin:10px;
    background-color:slategrey;
    border-radius: 10px;
    border:0 none;
    width: 30%;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color:snow;
    padding:10px;
    text-align: center;
} 
ol  {
   list-style-type: none;
} 
 
a {
    text-decoration: none;
    color:white;
}

.link {
    color:black;
    text-shadow: 2px 2px 5px white;
}

#initial-input {
    font-size: 30px;
    border-radius: 10px;
    border:0.5px solid  lightgrey;
}
.options:hover,#startBtn:hover, #saveBtn:hover, #goBack:hover, #clearScores:hover {
    background-color:lightgrey;
}
 